<footer>
  <div class="container large">
    <div class="grid cols-4">
      <section>
        <h4>About</h4>
        <p>Bottles is free and open source software that uses environments to help you easily manage and run Windows apps on Linux.</p>
      </section>
      <section>
        <h4>Community</h4>
        <ul>
          <li><a href="//forum.usebottles.com" tooltip="Forums"><ion-icon class="icon" name="chatbox-ellipses-outline"></ion-icon>Forums</a></li>
          <li><a href="//twitter.com/usebottles" tooltip="Twitter"><ion-icon class="icon" name="logo-twitter"></ion-icon>Twitter</a></li>
          <li><a href="//discord.gg/wF4JAdYrTR" tooltip="Discord"><ion-icon class="icon" name="logo-discord"></ion-icon>Discord</a></li>
          <li><a href="//github.com/bottlesdevs" tooltip="GitHub"><ion-icon class="icon" name="logo-github"></ion-icon>GitHub</a></li>
          <li><a href="//t.me/usebottles" tooltip="Telegram"><ion-icon class="icon" name="paper-plane-outline"></ion-icon>Telegram</a></li>
          <li><a href="https://matrix.to/#/%23UseBottles:matrix.org" tooltip="Matrix"><ion-icon class="icon" name="planet-outline"></ion-icon>Matrix</a></li>
        </ul>
      </section>
      <section>
        <h4>Support</h4>
        <ul>
          <li><a href="//docs.usebottles.com" tooltip="Documentation">Documentation</a></li>
          <li><a href="//github.com/bottlesdevs/Bottles/issues?q=is%3Aissue+label%3ABug" tooltip="Report a bug">Report a bug</a></li>
          <li><a href='//github.com/bottlesdevs/Bottles/issues?q=is%3Aissue+label%3A"Feature+request"' tooltip="Request a feature">Request a feature</a></li>
          <li><a href="//github.com/bottlesdevs/dependencies/issues" tooltip="Report a dependency">Report a dependency</a></li>
        </ul>
      </section>
      <section>
        <h4>Other</h4>
        <ul>
          <li><a href="//github.com/bottlesdevs/Bottles/blob/master/LICENSE" tooltip="License">License (GPLv3)</a></li>
          <li><a href="//usebottles.com/feed" tooltip="RSS Feed">RSS Feed</a></li>
          <li><a href="//usebottles.com/funding" tooltip="Support Us">Support Us</a></li>
        </ul>
      </section>
    </div>

    <hr class="spacer" />

   <section>
    <p>Made with ❤️ by Bottles Developers.</p>
    <p>proudly hosted by</p>
    <a href="https://www.linode.com/" target="_blank" class="linode-brand"></a>
   </section>
  </div>
</footer>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="/assets/js/tooltips.js"></script>

<script type='text/javascript'>
  Tooltips.init();
  
  //some default pre init
  var Countly = Countly || {};
  Countly.q = Countly.q || [];
  
  //provide countly initialization parameters
  Countly.app_key = '8f93def849839a0ac49613dc72d3754d883e8723';
  Countly.url = 'https://analytics.fabricators.ltd';
   
  //load countly script asynchronously
  (function() {
     var cly = document.createElement('script'); cly.type = 'text/javascript';
     cly.async = true;
     //enter url of script here
     cly.src = 'https://analytics.fabricators.ltd/sdk/web/countly.min.js';
     cly.onload = function(){Countly.init()};
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
  })();
  </script>

<div class="cookies-panel">
  <div class="container large">
    <div class="text">
      <p>This website uses cookies to ensure you get the best experience on our website. <a href="/cookies">Find out more</a></p>
    </div>
    <div class="actions">
      <button class="button link" id="cookie_decline">Decline</button>
      <button class="button link" id="cookie_accept">Accept</button>
    </div>
  </div>
</div>

<script>
  var cookie_accept = document.getElementById("cookie_accept");
  var cookie_decline = document.getElementById("cookie_decline");
  var cookies_panel = document.getElementsByClassName("cookies-panel")[0];

  if (localStorage.getItem("cookie_accepted") === null || localStorage.getItem("cookie_accepted") === "false") {
    cookies_panel.style.display = "block";
  } else {
    cookies_panel.style.display = "none";
  }

  cookie_accept.addEventListener("click", function() {
    localStorage.setItem("cookie_accepted", true);
    cookies_panel.style.display = "none";
    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_scrolls']);
    Countly.q.push(['track_errors']);
    Countly.q.push(['track_links']);
  });
  cookie_decline.addEventListener("click", function() {
    localStorage.setItem("cookie_accepted", false);
    cookies_panel.style.display = "none";
    Countly.q.push(['track_pageview']);
  });
</script>
