<footer>
  <p>Made with ❤️ by Bottles Developers.</p>
  <a href="https://mirko.pm" title="Mirko Brombin">mirko.pm</a>
  &nbsp;&sdot;&nbsp;
  <a href="https://github.com/bottlesdevs" class="icon" title="Bottles Developers on GitHub"><ion-icon name="logo-github"></ion-icon></a>
  &nbsp;&sdot;&nbsp;
  <a href="https://twitter.com/usebottles" class="icon" title="Bottles Developers on Twitter"><ion-icon name="logo-twitter"></ion-icon></a>
  &nbsp;&sdot;&nbsp;
  <a href="https://github.com/bottlesdevs/bottles/issues" class="icon" title="Report Bug & Feature"><ion-icon name="help-circle-outline"></ion-icon></a>
</footer>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>