<footer>
  <p>Made with ❤️ by Bottles Developers.</p>
  <a href="https://mirko.pm" title="Mirko Brombin">mirko.pm</a>
  &nbsp;&sdot;&nbsp;
  <a href="https://github.com/bottlesdevs" class="icon" title="Bottles Developers on GitHub"><ion-icon name="logo-github"></ion-icon></a>
  &nbsp;&sdot;&nbsp;
  <a href="https://twitter.com/usebottles" class="icon" title="Bottles Developers on Twitter"><ion-icon name="logo-twitter"></ion-icon></a>
  &nbsp;&sdot;&nbsp;
  <a href="https://usebottles.com/feed" class="icon" title="Bottles RSS Feed"><ion-icon name="logo-rss"></ion-icon></a>
  &nbsp;&sdot;&nbsp;
  <a href="https://github.com/bottlesdevs/bottles/issues" class="icon" title="Report Bug & Feature"><ion-icon name="help-circle-outline"></ion-icon></a>
</footer>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>


<script type='text/javascript'>
  //some default pre init
  var Countly = Countly || {};
  Countly.q = Countly.q || [];
  
  //provide countly initialization parameters
  Countly.app_key = '8f93def849839a0ac49613dc72d3754d883e8723';
  Countly.url = 'https://analytics.fabricators.ltd';
   
  //load countly script asynchronously
  (function() {
     var cly = document.createElement('script'); cly.type = 'text/javascript';
     cly.async = true;
     //enter url of script here
     cly.src = 'https://analytics.fabricators.ltd/sdk/web/countly.min.js';
     cly.onload = function(){Countly.init()};
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
  })();
  </script>

<div class="cookies-panel">
  <div class="container large">
    <div class="text">
      <p>This website uses cookies to ensure you get the best experience on our website. <a href="/cookies">Find out more</a></p>
    </div>
    <div class="actions">
      <button class="button link" id="cookie_decline">Decline</button>
      <button class="button" id="cookie_accept">Accept</button>
    </div>
  </div>
</div>

<script>
  var cookie_accept = document.getElementById("cookie_accept");
  var cookie_decline = document.getElementById("cookie_decline");
  var cookies_panel = document.getElementsByClassName("cookies-panel")[0];

  if (document.cookie.indexOf("cookies=accepted") > -1) {
    cookies_panel.style.display = "none";
  }

  cookie_accept.addEventListener("click", function() {
    document.cookie = "cookies=accepted; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
    cookies_panel.style.display = "none";
    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_scrolls']);
    Countly.q.push(['track_errors']);
    Countly.q.push(['track_links']);
  });
  cookie_decline.addEventListener("click", function() {
    document.cookie = "cookies=declined; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
    cookies_panel.style.display = "none";
    Countly.q.push(['track_pageview']);
  });
</script>