<nav id="nav">
  <div class="container large">
    <a class="brand" href="/"></a>
    <span class="material-icons" id="toggle-menu">menu</span>
    <div class="menu">
      <ul>
        {% for item in site.navigation_left %}
          <li>
            <a href="{{ item.link }}" class="{% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul>
        {% for item in site.navigation_right %}
          <li>
            <a href="{{ item.link }}" class="{% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
          </li>
        {% endfor %}
        <li class="place-right">
          <a class="button icon-slot" href="/download"><span class="mdi material-icons-outlined"> file_download </span> Get Bottles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<script>
  var toggleMenu = document.getElementById('toggle-menu');
  var nav = document.getElementById('nav');
  toggleMenu.addEventListener('click', function() {
    nav.classList.toggle('show-menu');
  });
</script>
