---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Funding">
  <section class="py-20 bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto px-4">
      <h1 class="text-5xl font-bold mb-4 text-gray-900 dark:text-white">
        Funding
      </h1>
      <p class="text-lg text-gray-700 dark:text-gray-300">
        Bottles is a <a
          href="https://en.wikipedia.org/wiki/Free_software"
          class="text-blue-600 dark:text-blue-400 underline">free software</a
        > project. You can support its development by leaving a small donation.
      </p>
    </div>
  </section>

  <section class="py-5 bg-green-100 dark:bg-green-900">
    <div class="container mx-auto px-4 mt-8">
      <h2 class="text-3xl font-bold mb-4 text-gray-900 dark:text-white">
        Why donate?
      </h2>
      <p class="text-lg mb-6 text-gray-700 dark:text-gray-300">
        Donating means helping in shaping the future of Bottles. Please read
        <a
          href="https://usebottles.com/posts/2024-12-02-future-of-bottles/"
          class="text-blue-600 dark:text-blue-400 underline">this post</a
        > to understand the reasons behind the need for donations.
      </p>
    </div>
  </section>

  <div class="container mx-auto px-4 mt-8">
    <section class="py-5">
      <h2 class="text-3xl font-bold mb-4 text-gray-900 dark:text-white">
        How to donate
      </h2>
      <p class="text-lg mb-6 text-gray-700 dark:text-gray-300">
        Here are the official channels from which you can donate to Bottles
        Developers.
      </p>

      <div class="grid md:grid-cols-3 gap-6 mb-8">
        <div
          class="bg-gray-900 text-white p-8 rounded-lg shadow-md text-center hover:shadow-lg transition-all relative top-0 hover:-top-1"
        >
          <Icon
            name="material-symbols:favorite-outline"
            class="w-8 h-8 mb-4 mx-auto"
          />
          <h3 class="text-2xl font-bold mb-2">GitHub Sponsors</h3>
          <span
            class="bg-gray-700 text-white px-2 py-1 rounded-full text-sm inline-block mb-4"
            >Recurring</span
          >
          <a
            href="https://github.com/sponsors/bottlesdevs"
            class="mt-4 block bg-gray-800 text-white py-2 px-4 rounded-lg hover:bg-gray-700 transition-all"
            >Sponsor via GitHub</a
          >
        </div>
        <div
          class="bg-blue-500 dark:bg-blue-700 text-white p-8 rounded-lg shadow-md text-center hover:shadow-lg transition-all relative top-0 hover:-top-1"
        >
          <Icon
            name="material-symbols:credit-card-outline"
            class="w-8 h-8 mb-4 mx-auto"
          />
          <h3 class="text-2xl font-bold mb-2">PayPal</h3>
          <span
            class="bg-blue-700 dark:bg-blue-500 text-white px-2 py-1 rounded-full text-sm inline-block mb-4"
            >One-Time / Recurring</span
          >
          <span
            class="bg-blue-700 dark:bg-blue-500 text-white px-2 py-1 rounded-full text-sm inline-block mb-4"
            >Preferred Method</span
          >
          <a
            href="https://www.paypal.com/donate?hosted_button_id=HM2VKUH5STU4J"
            class="mt-4 block bg-white text-blue-500 py-2 px-4 rounded-lg hover:bg-gray-100 transition-all"
            >Donate via PayPal</a
          >
          <a href="https://paypal.me/MirkoBrombin" class="mt-4 block underline"
            >Old PayPal Method</a
          >
        </div>
        <div
          class="bg-yellow-400 dark:bg-yellow-500 text-gray-900 p-8 rounded-lg shadow-md text-center hover:shadow-lg transition-all relative top-0 hover:-top-1"
        >
          <Icon
            name="material-symbols:volunteer-activism-outline"
            class="w-8 h-8 mb-4 mx-auto"
          />
          <h3 class="text-2xl font-bold mb-2">LiberaPay</h3>
          <span
            class="bg-yellow-500 dark:bg-yellow-600 text-gray-900 px-2 py-1 rounded-full text-sm inline-block mb-4"
            >Flexible Subscription</span
          >
          <a
            href="https://liberapay.com/bottles"
            class="mt-4 block bg-yellow-500 dark:bg-yellow-600 text-gray-900 py-2 px-4 rounded-lg hover:bg-yellow-300 transition-all"
            >Donate via LiberaPay</a
          >
        </div>
      </div>
    </section>

    <section
      class="sticky top-18 z-10 bg-white dark:bg-gray-900 py-4 border-b border-gray-300 dark:border-gray-700"
    >
      <div
        class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between gap-4"
      >
        <div class="flex flex-wrap items-center gap-2">
          <button
            class="filter-button bg-gray-200 dark:bg-gray-700 px-4 py-2 rounded-lg text-sm"
            data-status="WIP"
          >
            WIP
          </button>
          <button
            class="filter-button bg-gray-200 dark:bg-gray-700 px-4 py-2 rounded-lg text-sm"
            data-status="DONE"
          >
            Done
          </button>
          <button
            class="filter-button bg-gray-200 dark:bg-gray-700 px-4 py-2 rounded-lg text-sm"
            data-status="ALPHA"
          >
            Alpha
          </button>
          <button
            class="filter-button bg-gray-200 dark:bg-gray-700 px-4 py-2 rounded-lg text-sm"
            data-status="NEXT"
          >
            Next
          </button>
          <button
            class="filter-button bg-gray-200 dark:bg-gray-700 px-4 py-2 rounded-lg text-sm"
            data-status="REJECTED"
          >
            Rejected
          </button>
        </div>
        <div
          class="flex flex-col md:flex-row items-center gap-2 w-full md:w-auto"
        >
          <input
            type="text"
            id="searchInput"
            placeholder="Search tasks..."
            class="bg-gray-100 dark:bg-gray-800 px-4 py-2 rounded-lg text-sm w-full md:w-72"
          />
          <button
            id="resetButton"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg text-sm w-full md:w-auto"
          >
            Reset Filters
          </button>
        </div>
      </div>
    </section>

    <section class="py-5">
      <div class="grid md:grid-cols-3 gap-6">
        <div
          class="task-card bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md transition-all relative flex flex-col"
          data-status="DONE"
          data-title="Library mode"
        >
          <div>
            <span
              class="bg-green-500 text-white px-2 py-1 rounded-full text-sm inline-block mb-4"
              >[DONE]</span
            >
            <h3 class="text-2xl font-bold mb-2">Library mode</h3>
            <p class="text-lg mb-4">
              Allow users to add any program from any bottle in a library view
              for easy access.
            </p>
            <div class="flex items-center space-x-2 mb-4">
              <span class="w-full bg-gray-300 rounded">
                <span class="block bg-green-500 h-2 rounded" style="width: 100%"
                ></span>
              </span>
            </div>
          </div>
          <div class="mt-auto">
            <a
              href="https://usebottles.com/posts/2022-08-28-release-2022.8.28"
              class="flex items-center justify-center bg-white text-gray-800 border border-gray-300 py-2 px-4 rounded-lg hover:bg-gray-100 transition-all dark:bg-gray-700 dark:text-white dark:border-gray-700 dark:hover:bg-gray-800"
            >
              <Icon
                name="material-symbols:menu-book-outline"
                class="w-5 h-5 mr-2"
              />
              README
            </a>
          </div>
        </div>
        <div
          class="task-card bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md transition-all relative flex flex-col"
          data-status="ALPHA"
          data-title="Per-bottle sandbox"
        >
          <div>
            <span
              class="bg-yellow-500 text-white px-2 py-1 rounded-full text-sm inline-block mb-4"
              >[ALPHA]</span
            >
            <h3 class="text-2xl font-bold mb-2">Per-bottle sandbox</h3>
            <p class="text-lg mb-4">
              Experimental feature for wrapping each bottle with a sandbox to
              limit permissions.
            </p>
            <div class="flex items-center space-x-2 mb-4">
              <span class="w-full bg-gray-300 rounded">
                <span class="block bg-yellow-500 h-2 rounded" style="width: 80%"
                ></span>
              </span>
              <Icon
                name="material-symbols:info-outline"
                class="w-6 h-6 cursor-pointer"
                onclick="document.getElementById('infoModal').classList.remove('hidden'); document.getElementById('infoModalText').innerText = 'Estimated time: 1 week of work based on average hourly cost.'"
              />
            </div>
          </div>
          <div class="mt-auto">
            <a
              href="https://github.com/bottlesdevs/Bottles/issues/1158"
              class="flex items-center justify-center bg-white text-gray-800 border border-gray-300 py-2 px-4 rounded-lg hover:bg-gray-100 transition-all dark:bg-gray-700 dark:text-white dark:border-gray-700 dark:hover:bg-gray-800"
            >
              <Icon
                name="material-symbols:menu-book-outline"
                class="w-5 h-5 mr-2"
              />
              README
            </a>
          </div>
        </div>
        <div
          class="task-card bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md transition-all relative flex flex-col"
          data-status="REJECTED"
          data-title="Layered bottles"
        >
          <div>
            <span
              class="bg-red-500 text-white px-2 py-1 rounded-full text-sm inline-block mb-4"
              >[REJECTED]</span
            >
            <h3 class="text-2xl font-bold mb-2">Layered bottles</h3>
            <p class="text-lg mb-4">
              Our solution for multiple environments in one bottle. Planned for
              Bottles Next. Please refer to the Bottles Next task for more
              details.
            </p>
            <div class="flex items-center space-x-2 mb-4">
              <span class="w-full bg-gray-300 rounded">
                <span class="block bg-red-300 h-2 rounded" style="width: 0%"
                ></span>
              </span>
              <Icon
                name="material-symbols:info-outline"
                class="w-6 h-6 cursor-pointer"
                onclick="document.getElementById('infoModal').classList.remove('hidden'); document.getElementById('infoModalText').innerText = 'This feature is planned for Bottles Next. Read the Bottles Next task for more information.'"
              />
            </div>
          </div>
          <div class="mt-auto">
            <a
              href="https://github.com/bottlesdevs/Bottles/issues/510"
              class="flex items-center justify-center bg-white text-gray-800 border border-gray-300 py-2 px-4 rounded-lg hover:bg-gray-100 transition-all dark:bg-gray-700 dark:text-white dark:border-gray-700 dark:hover:bg-gray-800"
            >
              <Icon
                name="material-symbols:menu-book-outline"
                class="w-5 h-5 mr-2"
              />
              README
            </a>
          </div>
        </div>
        <div
          class="task-card bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md transition-all relative flex flex-col"
          data-status="WIP"
          data-title="Integration of UMU"
        >
          <div>
            <span
              class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm inline-block mb-4"
              >[WIP]</span
            >
            <h3 class="text-2xl font-bold mb-2">Integration of UMU</h3>
            <p class="text-lg mb-4">
              Integration of UMU to enhance the gaming compatibility in Bottles.
              For more information, check the <a
                href="https://github.com/Open-Wine-Components/umu-launcher"
                class="text-blue-600 dark:text-blue-400 underline"
                >UMU GitHub page</a
              >.
            </p>
            <div class="flex items-center space-x-2 mb-4">
              <span class="w-full bg-gray-300 rounded">
                <span class="block bg-blue-500 h-2 rounded" style="width: 10%"
                ></span>
              </span>
              <Icon
                name="material-symbols:info-outline"
                class="w-6 h-6 cursor-pointer"
                onclick="document.getElementById('infoModal').classList.remove('hidden'); document.getElementById('infoModalText').innerText = 'Estimated time: 4 weeks of work based on average hourly cost.'"
              />
            </div>
          </div>
          <div class="mt-auto">
            <a
              href="https://usebottles.com/posts/2024-09-24-umu-next/"
              class="flex items-center justify-center bg-white text-gray-800 border border-gray-300 py-2 px-4 rounded-lg hover:bg-gray-100 transition-all dark:bg-gray-700 dark:text-white dark:border-gray-700 dark:hover:bg-gray-800"
            >
              <Icon
                name="material-symbols:menu-book-outline"
                class="w-5 h-5 mr-2"
              />
              README
            </a>
          </div>
        </div>
        <div
          class="task-card bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md transition-all relative flex flex-col"
          data-status="NEXT"
          data-title="Bottles Next"
        >
          <div>
            <span
              class="bg-purple-500 text-white px-2 py-1 rounded-full text-sm inline-block mb-4"
              >[NEXT]</span
            >
            <h3 class="text-2xl font-bold mb-2">Bottles Next</h3>
            <p class="text-lg mb-4">
              A complete redesign of Bottles to overcome current limitations and
              provide a consistent user experience across Linux and macOS. We
              need funds, contributors, and companies to provide infrastructure
              support.
              <br /><br />
              Additionally, we are experimenting with two technologies developed
              by the same developer of Bottles to determine the best candidate for
              Bottles Next:
              <ul class="list-disc list-inside mt-2">
                <li>
                  <strong>vnt (50% progress, 2 months estimated work):</strong>
                  <a
                    href="https://github.com/mirkobrombin/vnt"
                    class="text-blue-600 dark:text-blue-400 underline"
                    >GitHub repository</a
                  >.
                </li>
                <li>
                  <strong>rfw (20% progress, 4 months estimated work):</strong>
                  <a
                    href="https://github.com/rfwlab/rfw"
                    class="text-blue-600 dark:text-blue-400 underline"
                    >GitHub repository</a
                  >.
                </li>
              </ul>
            </p>
            <div class="flex items-center space-x-2 mb-4">
              <span class="w-full bg-gray-300 rounded">
                <span class="block bg-purple-500 h-2 rounded" style="width: 10%"
                ></span>
              </span>
              <Icon
                name="material-symbols:info-outline"
                class="w-6 h-6 cursor-pointer"
                onclick="document.getElementById('infoModal').classList.remove('hidden'); document.getElementById('infoModalText').innerText = 'We are looking for funds, contributors, and companies to provide infrastructure support.'"
              />
            </div>
          </div>
          <div class="mt-auto">
            <a
              href="https://usebottles.com/posts/2023-10-05-bottles-next-a-new-chapter/"
              class="flex items-center justify-center bg-white text-gray-800 border border-gray-300 py-2 px-4 rounded-lg hover:bg-gray-100 transition-all dark:bg-gray-700 dark:text-white dark:border-gray-700 dark:hover:bg-gray-800"
            >
              <Icon
                name="material-symbols:menu-book-outline"
                class="w-5 h-5 mr-2"
              />
              README
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5">
      <h2 class="text-3xl font-bold mb-4 text-gray-900 dark:text-white">
        Thanks to them who made a donation or became our GitHub sponsor ❤️!
      </h2>
      <div class="flex flex-wrap mb-8 mt-8 gap-4" id="github">
        <!-- JS will inject people here -->
      </div>

      <h3 class="text-2xl font-bold mb-4 text-gray-900 dark:text-white">
        Other platforms
      </h3>
      <div class="flex flex-wrap mb-8 gap-4" id="other">
        <!-- JS will inject people here -->
      </div>

      <p class="text-center text-gray-800 dark:text-gray-300">
        - Thanks from the Bottles Developers.
      </p>
    </section>
  </div>

  <div
    id="donationModal"
    class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden z-20"
  >
    <div
      class="bg-white dark:bg-gray-900 p-8 rounded-lg shadow-lg w-1/3 text-center"
    >
      <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">
        Thank You!
      </h2>
      <p class="text-lg text-gray-700 dark:text-gray-300 mb-4">
        We sincerely appreciate your donation. Your support helps us keep
        Bottles growing and improving.
      </p>
      <button
        id="closeModal"
        class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition-all"
        >Close</button
      >
    </div>
  </div>

  <div
    id="infoModal"
    class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden z-20"
  >
    <div
      class="bg-white dark:bg-gray-900 p-8 rounded-lg shadow-lg w-1/3 text-center"
    >
      <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">
        Progress Information
      </h2>
      <p
        id="infoModalText"
        class="text-lg text-gray-700 dark:text-gray-300 mb-4"
      >
        Progress is calculated based on the completion status of each task.
      </p>
      <button
        id="closeInfoModal"
        class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition-all"
        >Close</button
      >
    </div>
  </div>
</Layout>

<script>
  interface Sponsor {
    username: string;
    avatar: string;
  }

  interface PeopleList {
    github: Sponsor[];
    other: string[];
  }

  class Donations {
    domSelector: string;
    list: PeopleList;

    constructor(domSelector: string, list: PeopleList) {
      this.domSelector = domSelector;
      this.list = list;
      this.renderPeople();
    }

    async renderPeople(): Promise<void> {
      const githubPeople = await this.getGitHubSponsors();
      const otherPeople = this.list.other;
      this.addSection("#github", githubPeople, true);
      this.addSection("#other", otherPeople);
    }

    addSection(
      sectionDOM: string,
      personList: Sponsor[] | string[],
      hasPic: boolean = false
    ) {
      let sectionHtml = ``;
      personList.forEach((person) => {
        if (typeof person === "string") {
          sectionHtml += this.getPersonMarkup(person, hasPic);
        } else {
          sectionHtml += this.getPersonMarkup(
            person.username,
            hasPic,
            person.avatar
          );
        }
      });
      document
        .querySelector(sectionDOM)
        ?.insertAdjacentHTML("beforeend", sectionHtml);
    }

    getPersonMarkup(
      person: string,
      hasPic: boolean,
      avatarUrl: string = ""
    ): string {
      return `<div class="flex items-center space-x-2">
          ${
            hasPic
              ? `<img src="${avatarUrl}" alt="${person}" class="w-12 h-12 rounded-full">`
              : ""
          }
          <span class="bg-gray-100 dark:bg-gray-800 px-4 py-2 rounded-lg text-center">${person}</span>
        </div>`;
    }

    async getGitHubSponsors(): Promise<Sponsor[]> {
      try {
        const response = await fetch(
          "https://ghs.vercel.app/v2/sponsors/bottlesdevs"
        );
        const data = await response.json();
        const allSponsors = [
          ...data.sponsors.current,
          ...data.sponsors.past,
        ].map((sponsor: { username: string; avatar: string }) => ({
          username: sponsor.username,
          avatar: sponsor.avatar,
        }));
        return allSponsors;
      } catch (error) {
        console.error("Error fetching GitHub sponsors:", error);
        return [];
      }
    }
  }

  const people: PeopleList = {
    github: [],
    other: [
      "Christopher (kit) Eubanks",
      "Black_file",
      "Chris",
      "Robin Lee",
      "Andrew Ego",
      "Sonny Piers",
      "Dan G",
      "Caleb Woodbine",
      "Robert Krisztian Sandor",
      "+ All the anonymous donations",
    ],
  };

  document.addEventListener("DOMContentLoaded", () => {
    new Donations("#people", people);

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("thankyou")) {
      document.getElementById("donationModal")?.classList.remove("hidden");
    }

    document.getElementById("closeModal")?.addEventListener("click", () => {
      document.getElementById("donationModal")?.classList.add("hidden");
    });

    document.getElementById("closeInfoModal")?.addEventListener("click", () => {
      document.getElementById("infoModal")?.classList.add("hidden");
    });

    const filterButtons = document.querySelectorAll(".filter-button");
    const searchInput = document.getElementById("searchInput");
    const resetButton = document.getElementById("resetButton");
    const taskCards = document.querySelectorAll(".task-card");

    let currentStatusFilter = "";
    let currentSearchQuery = "";

    function updateTasksDisplay() {
      taskCards.forEach((card) => {
        const cardStatus = card.getAttribute("data-status");
        // @ts-ignore
        const title = card.getAttribute("data-title").toLowerCase();
        // @ts-ignore
        const description = card.querySelector("p").textContent.toLowerCase();
        let matchesStatus = true;
        let matchesSearch = true;

        if (currentStatusFilter !== "") {
          matchesStatus = cardStatus === currentStatusFilter;
        }

        if (currentSearchQuery !== "") {
          matchesSearch =
            title.includes(currentSearchQuery) ||
            description.includes(currentSearchQuery);
        }

        if (matchesStatus && matchesSearch) {
          // @ts-ignore
          card.style.display = "";
        } else {
          // @ts-ignore
          card.style.display = "none";
        }
      });
    }

    filterButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const status = button.getAttribute("data-status");
        // @ts-ignore
        currentStatusFilter = status;
        filterButtons.forEach((btn) => {
          btn.classList.remove("active", "bg-blue-500", "text-white");
          btn.classList.add(
            "bg-gray-200",
            "dark:bg-gray-700",
            "text-black",
            "dark:text-white"
          );
        });
        button.classList.add("active", "bg-blue-500", "text-white");
        button.classList.remove(
          "bg-gray-200",
          "dark:bg-gray-700",
          "text-black",
          "dark:text-white"
        );
        updateTasksDisplay();
      });
    });

    // @ts-ignore
    searchInput.addEventListener("input", () => {
      // @ts-ignore
      currentSearchQuery = searchInput.value.toLowerCase();
      updateTasksDisplay();
    });

    // @ts-ignore
    resetButton.addEventListener("click", () => {
      currentStatusFilter = "";
      currentSearchQuery = "";
      // @ts-ignore
      searchInput.value = "";
      filterButtons.forEach((btn) => {
        btn.classList.remove("active", "bg-blue-500", "text-white");
        btn.classList.add(
          "bg-gray-200",
          "dark:bg-gray-700",
          "text-black",
          "dark:text-white"
        );
      });
      updateTasksDisplay();
    });
  });
</script>
