---
import { Icon } from "astro-icon/components";
---

<footer
  class="bg-[var(--md-sys-color-surface)] border-t py-10 text-center mt-10 p-10"
>
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 text-left"
  >
    <!-- About -->
    <div>
      <h3 class="font-bold text-lg mb-3">
        About
      </h3>
      <p>
        Bottles is free and open source software that uses environments to help
        you easily manage and run Windows apps on Linux.
      </p>
    </div>

    <!-- Community -->
    <div>
      <h3 class="font-bold text-lg mb-3">
        Community
      </h3>
      <ul class="space-y-2">
        <li>
          <a
            href="https://github.com/orgs/bottlesdevs/discussions"
            class="flex items-center w-max hover:text-[var(--md-sys-color-primary)]"
            ><Icon
              name="material-symbols:chat"
              class="w-5 h-5 mr-2"
            />Forums</a>
        </li>
        <li>
          <a
            href="https://twitter.com/usebottles"
            class="flex items-center w-max hover:text-[var(--md-sys-color-primary)]"
            ><Icon name="bxl:twitter" class="w-5 h-5 mr-2" />Twitter</a>
        </li>
        <li>
          <a
            href="https://discord.gg/wF4JAdYrTR"
            class="flex items-center w-max hover:text-[var(--md-sys-color-primary)]"
            ><Icon name="bxl:discord" class="w-5 h-5 mr-2" />Discord</a>
        </li>
        <li>
          <a
            href="https://github.com/bottlesdevs"
            class="flex items-center w-max hover:text-[var(--md-sys-color-primary)]"
            ><Icon name="bxl:github" class="w-5 h-5 mr-2" />GitHub</a>
        </li>
      </ul>
    </div>

    <!-- Support -->
    <div>
      <h3 class="font-bold text-lg mb-3">
        Support
      </h3>
      <ul class="space-y-2">
        <li>
          <a
            href="https://docs.usebottles.com/"
            class="hover:text-[var(--md-sys-color-primary)]"
            >Documentation</a>
        </li>
        <li>
          <a
            href="https://github.com/bottlesdevs/Bottles/issues?q=is%3Aissue+label%3ABug"
            class="hover:text-[var(--md-sys-color-primary)]"
            >Report a bug</a>
        </li>
        <li>
          <a
            href="https://github.com/bottlesdevs/Bottles/issues?q=is%3Aissue+label%3A%22Feature+request%22"
            class="hover:text-[var(--md-sys-color-primary)]"
            >Request a feature</a>
        </li>
        <li>
          <a
            href="https://github.com/bottlesdevs/dependencies/issues"
            class="hover:text-[var(--md-sys-color-primary)]"
            >Report a dependency</a>
        </li>
      </ul>
    </div>

    <!-- Others -->
    <div>
      <h3 class="font-bold text-lg mb-3">
        Others
      </h3>
      <ul class="space-y-2">
        <li>
          <a
            href="https://github.com/bottlesdevs/Bottles/blob/main/LICENSE"
            class="hover:text-[var(--md-sys-color-primary)]"
            >License (GPLv3)</a>
        </li>
        <li>
          <a
            href="/blog"
            class="hover:text-[var(--md-sys-color-primary)]"
            >Blog</a>
        </li>
        <li>
          <a
            href="/rss.xml"
            class="hover:text-[var(--md-sys-color-primary)]"
            >RSS Feed</a>
        </li>
        <li>
          <a
            href="/funding"
            class="hover:text-[var(--md-sys-color-primary)]"
            >Support Us</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center mb-20 mt-20">
    Made with <span class="text-red-600">❤️</span> by Bottles Developers.
    <br />
    <a
      href="https://fabricators.ltd"
      class="hover:text-[var(--md-sys-color-primary)]"
      >sponsored by fabricators.ltd</a
    >
  </div>
</footer>
