---
import { Icon } from 'astro-icon/components'
---

<footer class="bg-white dark:bg-gray-800 border-t py-10 text-center mt-10 p-10 dark:border-gray-700">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 text-left">
    <!-- About -->
    <div>
      <h3 class="font-bold text-lg mb-3 text-gray-900 dark:text-white">About</h3>
      <p class="text-gray-600 dark:text-gray-400">
        Bottles is free and open source software that uses environments to help you easily manage and run Windows apps on Linux.
      </p>
    </div>

    <!-- Community -->
    <div>
      <h3 class="font-bold text-lg mb-3 text-gray-900 dark:text-white">Community</h3>
      <ul class="space-y-2">
      <li><a href="https://forum.usebottles.com/" class="flex items-center w-max text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400"><Icon name="material-symbols:chat" class="w-5 h-5 mr-2"/>Forums</a></li>
      <li><a href="https://twitter.com/usebottles" class="flex items-center w-max text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400"><Icon name="bxl:twitter" class="w-5 h-5 mr-2"/>Twitter</a></li>
      <li><a href="https://discord.gg/wF4JAdYrTR" class="flex items-center w-max text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400"><Icon name="bxl:discord" class="w-5 h-5 mr-2"/>Discord</a></li>
      <li><a href="https://github.com/bottlesdevs" class="flex items-center w-max text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400"><Icon name="bxl:github" class="w-5 h-5 mr-2"/>GitHub</a></li>      </ul>
    </div>

    <!-- Support -->
    <div>
      <h3 class="font-bold text-lg mb-3 text-gray-900 dark:text-white">Support</h3>
      <ul class="space-y-2">
        <li><a href="https://docs.usebottles.com/" class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400">Documentation</a></li>
        <li><a href="https://github.com/bottlesdevs/Bottles/issues?q=is%3Aissue+label%3ABug" class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400">Report a bug</a></li>
        <li><a href="https://github.com/bottlesdevs/Bottles/issues?q=is%3Aissue+label%3A%22Feature+request%22" class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400">Request a feature</a></li>
        <li><a href="https://github.com/bottlesdevs/dependencies/issues" class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400">Report a dependency</a></li>
      </ul>
    </div>

    <!-- Others -->
    <div>
      <h3 class="font-bold text-lg mb-3 text-gray-900 dark:text-white">Others</h3>
      <ul class="space-y-2">
        <li><a href="https://github.com/bottlesdevs/Bottles/blob/main/LICENSE" class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400">License (GPLv3)</a></li>
        <li><a href="/blog" class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400">Blog</a></li>
        <li><a href="/rss.xml" class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400">RSS Feed</a></li>
        <li><a href="/funding" class="text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-400">Support Us</a></li>
      </ul>
    </div>
  </div>

  <div class="text-center text-gray-600 dark:text-gray-400 mb-20 mt-20">
    Made with <span class="text-red-600 dark:text-red-400">❤️</span> by Bottles Developers.
    <br/>
    <a href="https://fabricators.ltd" class="text-gray-500 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-400">sponsored by fabricators.ltd</a>
  </div>
</footer>
