<section class="text-center p-12">
  <h2 class="text-3xl font-bold mb-6 text-gray-900 dark:text-white">Sponsors</h2>

  <div class="flex justify-center items-center gap-4 mb-4 flex-col md:flex-row">
    <a href="https://www.jetbrains.com/?from=bottles" target="_blank" rel="noopener noreferrer">
      <img src="/assets/sponsors/jetbrains.png" alt="JetBrains" class="h-12 dark:grayscale dark:invert" />
    </a>
    <a href="https://www.gitbook.com/?ref=bottles" target="_blank" rel="noopener noreferrer">
      <img src="/assets/sponsors/gitbook.png" alt="GitBook" class="h-12 dark:grayscale dark:invert" />
    </a>
    <a href="https://www.linode.com/?from=bottles" target="_blank" rel="noopener noreferrer">
      <img src="/assets/sponsors/linode-brand.png" alt="Linode" class="h-12 dark:grayscale dark:invert" />
    </a>
    <a href="https://appwrite.io?from=bottles" target="_blank" rel="noopener noreferrer">
      <img src="/assets/sponsors/built-with-appwrite.svg" alt="Appwrite" class="h-12 dark:grayscale dark:invert" />
    </a>
    <a href="https://hyperbit.it/" target="_blank" rel="noopener noreferrer">
      <img src="/assets/sponsors/HyperBit_Dark_Logo.png" alt="Hyperbitz" class="h-12 dark:grayscale dark:invert" />
    </a>
    <a href="https://www.scaleway.com/en/" target="_blank" rel="noopener noreferrer">
      <img src="/assets/sponsors/Scaleway_FOSS.png" alt="Scaleway" class="h-12 dark:grayscale dark:invert" />
    </a>
  </div>

  <p class="text-gray-600 dark:text-gray-300 mb-6">
    Plus all the donations from the awesome users who support Bottles!
  </p>

  <a class="px-6 py-2 bg-gray-800 dark:bg-gray-700 text-white rounded-lg hover:bg-gray-700 dark:hover:bg-gray-600 transition-all" href="/funding">
    Show more
  </a>
</section>
