---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Components">

  <section class="py-20 bg-[var(--md-sys-color-surface)]">
      <div class="container mx-auto px-4">
      <h1 class="text-5xl font-bold mb-4">Components</h1>
      <p class="text-lg">These are essential elements for creating environments and extending them with new features and implementations.</p>
      </div>
  </section>

  <div class="container mx-auto px-4 mt-8 overflow-auto md:overflow-hidden w-full">
    <table id="components" class="min-w-full md-card">
      <thead>
        <tr>
          <th class="px-6 py-3 text-left font-medium uppercase tracking-wider">Name</th>
          <th class="px-6 py-3 text-left font-medium uppercase tracking-wider">Type</th>
          <th class="px-6 py-3 text-left font-medium uppercase tracking-wider">Category</th>
          <th class="px-6 py-3 text-left font-medium uppercase tracking-wider">Channel</th>
          <th class="px-6 py-3 text-left font-medium uppercase tracking-wider">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- JS will inject components here -->
      </tbody>
    </table>
  </div>

</Layout>

<script>
import DatabaseTableManager from '../../scripts/db-table-manager';

  document.addEventListener("DOMContentLoaded", function () {
    new DatabaseTableManager("components", "components");
  });
</script>
