---
layout: default
---
<article>
    <section class="heading center">
        <div class="container medium">
            <h1>{{ page.title }}</h1>
            <p><time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%a, %b %e, %Y" }}</time></p>
        </div>
    </section>
    <section class="page post">
        <div class="container medium">
            {{ content }}
        </div>
    </section>
    <section class="comments">
        <div class="container small">
            {% if page.comments %}
            <div id="disqus_thread"></div>
            {% else %}
            <div class="no-comments">
                <p>Comments are disabled for this post, join us in the GitHub <a href="https://github.com/bottlesdevs/Bottles/issues">Issues</a>.</p>
            </div>
            {% endif %}
        </div>
    </section>
</article>

<script>
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://bottles-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>