---
layout: default
---
<article itemscope itemtype="https://schema.org/NewsArticle" class="hasSummary">
    {% if page.thumb != nil %}
        <meta itemprop="image" content="{{ page.thumb }}" hidden />
    {% endif %}
    <section class="heading center">
        {% if page.background != nil %}
            <div class="background"
                 style="background-image: url({{ page.background }})"></div>
        {% endif %}
        <div class="container medium">
            <h1 itemprop="headline">{{ page.title }}</h1>
            <p>
                <time itemprop="datePublished"
                      datetime="{{ page.date | date:"%Y-%m-%d" }}"
                      content="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%a, %b %e, %Y" }}</time>
            </p>
        </div>
    </section>
    <section class="page post">
        {% if page.is_release_day != nil %}
            <section class="release-day">
                <div>
                    <p>today is</p>
                    <strong {% if page.is_release_day_color != nil %}style="color: {{page.is_release_day_color}}"{% endif %}>Release Day!</strong>
                </div>
            </section>
        {% endif %}
        <div class="container medium">
            {{ content }}
        </div>
    </section>
    <section class="comments">
        <div class="container small">
            {% if page.comments %}
            <div id="disqus_thread"></div>
            {% else %}
            <div class="no-comments">
                <p>Comments are disabled for this post, join us in the GitHub <a href="https://github.com/bottlesdevs/Bottles/issues">Issues</a>.</p>
            </div>
            {% endif %}
        </div>
    </section>
</article>

{% if page.is_release_day_color != nil %}
    <script>
        function hexToRgb(hex) {
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return `${parseInt(result[1], 16)}, ${parseInt(result[2], 16)}, ${parseInt(result[3], 16)}`;
        }

        var rgb = hexToRgb('{{ page.is_release_day_color }}');
        var startColor = `rgba(${rgb}, 0.1)`;
        var endColor = `rgba(${rgb}, 0.3)`;

        var el = document.getElementsByClassName('heading')[0];
        el.style.background = `linear-gradient(120deg, ${startColor} 0%, ${endColor} 100%)`;
    </script>
{% endif %}>
